
section {
    background-color: aliceblue;
    border: 5px ridge blueviolet;
    margin-top: 2%;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    display: flex;
}

.hero > h1 {
    flex-basis: 100%;
    text-align: center;
}

.hero > img {
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
    border-radius: 25%;
}

#hero-body-text {
    flex-basis: 50%;
    margin-left: 1rem;
}

.resume-reference {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100%;
}

.resume-reference > img {
    height: 100px;   
}

.proj-showcase {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100%
}

.proj-showcase > img {
    height: 100px
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 100%;
    flex-wrap: wrap;
}

.project-container img {
    width: 20rem;
}

.proj-item {
    text-align: center;
}

.about-me {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100%;
}

.about-me > img {
    height: 100px;
}

.about-me > p {
    margin: 1%;
}

.contact-me {
    display: flex;
    justify-content: center;
    gap: 100%;
    flex-wrap: wrap;
}

.contact-me img {
    height: 30px;
}

@media (max-width: 700px) {
    #hero-body-text {
        flex-basis: 100%;
        margin-left: 1rem;
    }
  }